gym3
gym
filelock
numpy>=1.21
git+https://github.com/jordan-schneider/phasic-policy-gradient.git
git+https://github.com/jordan-schneider/omegaconf.git
torch
psutil
pandas
matplotlib
tensorboard
arrow
tqdm
fire
argh
scipy
gputil
hydra-core
pyyaml