argh
arrow
attrs
cattrs
experiment-server @ git+https://github.com/jordan-schneider/experiment-server.git#egg=experiment_server
filelock
fire
gputil
gym
gym3
joypy
matplotlib
mpi4py
numpy>=1.21
pandas
phasic-policy-gradient @ git+https://github.com/jordan-schneider/phasic-policy-gradient.git
psutil
redis
scipy
seaborn
scikit-learn
tensorboard
torch
tomli
tomli-w
tqdm